* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Preahvihear', sans-serif;
}

img{
    width: 10rem;
    height: 10rem;
    border: solid 5px white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5%;
}

#tarjeta_usuario{
    width: 50rem;
    height: 30rem;

    box-shadow: 0px 5px 5px #888888;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

#banner{
    flex: 1;
    background-color: #00bcd5;
    position: relative;
    
}

#content{
    flex: 2;
    padding: 1rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

#content div{
    flex: 1;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    height: 2rem;
    width: 10rem;
    background-color: #f0f3f5;
    border: none;
    border-radius: 5%;
}


h2, h4{
    margin-top: 1rem;
}